# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem ar summarized.

**Objectives:**
* Popular Languages used by Data Scientists
* Commonly Libraries used by Data Scientists
* Data Science Tools
* Example of python arithmetics
* Example of minute to Hour Converter

Some of the popular Languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. SQL
5. Weka
6. Julia
7. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikitlearn
4. Matplotlib
5. TensorFlow
6. Plotly
7. GGplot2

|Data Science Tools|
----------------------------
|Jupyter Notebook|
|R studio|
|Pycharm|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic xpression to multiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60.
def mintohr(value):
    return value / 60
mintohr(200)

3.3333333333333335

## Author
Tanmay Chauhan